# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
lista_anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
index_anos =[1900,1920,1940,1960,1980,2000,2020]
lista_anomalia_pd = pd.Series(data=lista_anomalia, index=index_anos)
lista_anomalia_pd

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [2]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
dic_temperaturas = pd.Series(data=dic_temperaturas)
dic_temperaturas

# seu código aqui

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [3]:
arr = np.random.normal(100, 10, (20,3))
arr_data_frame=pd.Series=(np.random.normal(100, 10, (20,3)))
pd.DataFrame(arr_data_frame)
    
    





# seu código aqui

             0           1           2
0   116.976936  116.003274   95.907693
1   115.381312   96.495680   97.199867
2    99.614796  109.041595  115.176004
3    93.245991  102.337287   98.822771
4   100.733480   94.877365   85.260831
5    89.815693   98.374789  112.964383
6    92.260449   99.407665   96.607499
7    93.755911   99.103088  121.128806
8   100.856210  114.788455  100.267014
9    85.423047   93.508413   96.340661
10  107.081365   96.850448   99.319522
11   97.537932   95.458617  111.792211
12   98.194291  101.966422   87.852573
13   87.900339  102.872191   98.355395
14  108.162337   95.072846  104.712113
15   81.728484   99.511401  104.990281
16   96.049364   98.597285   97.532519
17   77.764016  112.073282   99.165652
18   98.538873  113.379015   83.114088
19  100.202377   99.532306  104.027284

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [4]:
#seu código aqui
colunas=('x1','x2','x3')
indexes=('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20')
df=pd.DataFrame(arr_data_frame, index=indexes, columns=colunas)
df

            x1          x2          x3
1   116.976936  116.003274   95.907693
2   115.381312   96.495680   97.199867
3    99.614796  109.041595  115.176004
4    93.245991  102.337287   98.822771
5   100.733480   94.877365   85.260831
6    89.815693   98.374789  112.964383
7    92.260449   99.407665   96.607499
8    93.755911   99.103088  121.128806
9   100.856210  114.788455  100.267014
10   85.423047   93.508413   96.340661
11  107.081365   96.850448   99.319522
12   97.537932   95.458617  111.792211
13   98.194291  101.966422   87.852573
14   87.900339  102.872191   98.355395
15  108.162337   95.072846  104.712113
16   81.728484   99.511401  104.990281
17   96.049364   98.597285   97.532519
18   77.764016  112.073282   99.165652
19   98.538873  113.379015   83.114088
20  100.202377   99.532306  104.027284

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [5]:
# seu código aqui
df['Média']=(df['x1']+df['x2']+df['x3'])/3
df

            x1          x2          x3       Média
1   116.976936  116.003274   95.907693  109.629301
2   115.381312   96.495680   97.199867  103.025620
3    99.614796  109.041595  115.176004  107.944132
4    93.245991  102.337287   98.822771   98.135349
5   100.733480   94.877365   85.260831   93.623892
6    89.815693   98.374789  112.964383  100.384955
7    92.260449   99.407665   96.607499   96.091871
8    93.755911   99.103088  121.128806  104.662602
9   100.856210  114.788455  100.267014  105.303893
10   85.423047   93.508413   96.340661   91.757374
11  107.081365   96.850448   99.319522  101.083778
12   97.537932   95.458617  111.792211  101.596254
13   98.194291  101.966422   87.852573   96.004429
14   87.900339  102.872191   98.355395   96.375975
15  108.162337   95.072846  104.712113  102.649099
16   81.728484   99.511401  104.990281   95.410055
17   96.049364   98.597285   97.532519   97.393056
18   77.764016  112.073282   99.165652   96.334317
19   98.538873  113.379015   83.114088   98.343992
20  100.202377   99.532306  104.027284  101.253989

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [11]:
# seu código aqui
df['log_med']=np.log2(df['Média'])
df

            x1          x2          x3       Média   log_med
1   116.976936  116.003274   95.907693  109.629301  6.776490
2   115.381312   96.495680   97.199867  103.025620  6.686859
3    99.614796  109.041595  115.176004  107.944132  6.754141
4    93.245991  102.337287   98.822771   98.135349  6.616701
5   100.733480   94.877365   85.260831   93.623892  6.548805
6    89.815693   98.374789  112.964383  100.384955  6.649399
7    92.260449   99.407665   96.607499   96.091871  6.586342
8    93.755911   99.103088  121.128806  104.662602  6.709602
9   100.856210  114.788455  100.267014  105.303893  6.718415
10   85.423047   93.508413   96.340661   91.757374  6.519752
11  107.081365   96.850448   99.319522  101.083778  6.659408
12   97.537932   95.458617  111.792211  101.596254  6.666703
13   98.194291  101.966422   87.852573   96.004429  6.585029
14   87.900339  102.872191   98.355395   96.375975  6.590602
15  108.162337   95.072846  104.712113  102.649099  6.681577
16   81.728484   99.511401  104.990281   95.410055  6.576069
17   96.049364   98.597285   97.532519   97.393056  6.605747
18   77.764016  112.073282   99.165652   96.334317  6.589978
19   98.538873  113.379015   83.114088   98.343992  6.619765
20  100.202377   99.532306  104.027284  101.253989  6.661835